<% layout('layouts/boilerplate.ejs') %>


    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <a href="/campgrounds">Show Full List</a>
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
                
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" value="<%=campground.title%>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location%>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price-label">Campground Price</label>
                <div class="input-group ">
                    <span class="input-group-text" id="price-label">₹</span>
                    <input type="text" class="form-control" name="campground[price]" placeholder="0.00" aria-label="Price" value="<%= campground.price%>" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                  </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Images</label>
                        <input type="file" name="image" class="form-control" id="formFile" multiple>
                      </div>
                    <!-- <input class="form-control" type="file" name="image" value="<%= campground.images%>" id="image" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div> -->
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description URL</label>
                    <textarea class="form-control" type="text" name="campground[description]"  id="description" required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img,i){ %>
                        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete?</label>
                  <%  }) %> 
                </div>
                <div class="mb-3">
                <button class="btn btn-info mb-2">Update CampGround</button><br>
                <a href="/campgrounds/<%= campground._id%>">Back to CampGround </a>
            </div>
            </form>
        </div>
    </div>